Django==6.0.4
djangorestframework==3.17.1
ortools==9.15.6755
pandas==3.0.2
psycopg2-binary==2.9.12
django-cors-headers==4.9.0
openpyxl>=3.1.2
python-dotenv>=1.0.1
waitress>=3.0.2
django-filter>=24.3
dj-database-url>=2.2.0
whitenoise>=6.7.0
gunicorn>=23.0.0
